{% extends "base.html" %}

{% block content %}
    <h2>Список профессий</h2>
{% set prof_list = ['Инженер-исследователь', 'Пилот', 'Строитель', 'Экзобиолог', 'Врач', 'Инженер по терраформированию',
'Климатолог', 'Специалист по радиционной защите',
'Астрогеолог', 'Гляциолог', 'Инженер жизнеобеспечения', 'Метеоролог',
'Оператор марсохода', 'Киберинженер', 'Штурман', 'Пилот дронов'] %}
{% if list_index == 'ol' %}
    {% for elem in prof_list %}
    <div>{{ loop.index }} - {{ elem }}</div>
    {% endfor %}
{% elif list_index == 'ul' %}
    <ul>
        {% for elem in prof_list %}
            <li>{{ elem }}</li>
        {% endfor %}
    </ul>
{% else %}
    <h2>Был введен неверный параметр!</h2>
{% endif %}
{% endblock %}